*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #0a3cca;

}
#main{
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}
#page1>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    width: 100%;
    height: 10vh;
    position: absolute;
}
#page1>nav>img{
    margin-top: -1.7vw;
    width: 9%;
}
#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: #0b48ed;
    color: white;
    font-family: a;
    font-size: 15px;
}
.bootom-page1{
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 50vw;
    height: 35vh;
}
.bootom-page1>h1{
    font-family: a;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: white;
}
.botoom-page1-inner{
    bottom: 0%;
    position: absolute;
    height: 35%;
    width: 100%;
  
}
.botoom-page1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: a;
}
.botoom-page1-inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: #0b48ed;
    font-family: b;
    font-size: 16px;
}
.botoom-page1-inner>h4{
    color: white;
    font-size: 1.3vw;
    font-weight: 100;
}
#page2{
    font-family: a;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cca;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
}
#page2>h2{
    font-weight: 100;
    margin-bottom: 3vw;
}
#page2>h1{
    font-weight: 100;
    line-height: 1.3;
    width: 90%;
    font-size: 4vw;
    color: #dada6969;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#0a3cca;
}
#page3>canvas{
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
}
#page4{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: a;
    background-color:#1137ca
}
#page4>h3{
    margin-left: 15vw;
    margin-bottom: 2vw;
    font-weight: 100;
    color: #fff;
}
#page4>h1{
    margin-left: 15vw;
    width: 70%;
    font-size: 3vw;
    font-weight: 100;
    color: #9a9696;
}
#page5{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page5>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
#page6{
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cca;
    font-family: a;
    flex-direction: column;
}
#page6>h3{
    margin-left: 15vw;
    margin-bottom: 2vw;
    font-weight: 100;
    color: #fff;
}
#page6>h1{
    margin-left: 15vw;
    width: 70%;
    font-size: 3vw;
    font-weight: 100;
    color: #9a9696;
}
#page7{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cca;
}
#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
.page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 0px solid #0a3cca;
}
.page7-cir-inner{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: transparent;
    border: 0px solid #0a3cca;
}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cca;
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: a;
}
.page8-bottom>h1{
    color: white;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}
.page8-bottom>button{
    padding: 10px 30px ;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: #0a3cca;
}
#page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cca;
}
.left9{
    height: 100%;
    width: 40%;
    position: relative;
}
.right9{
    height: 100%;
    width: 60%;
    position: relative;
    font-family: a;
}
.left9>h1{
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: white;
    line-height: 1;
    
}
.right9-center{
    height: 50%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cca;
}
.right10{
    height: 100%;
    width: 60%;
    left: 40%;
    position: relative;
}
.right10-inner{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    height: 33%;
    font-family: a;
    color: white;
}
.right10-inner>h1{
    font-size: 2vw;
}
.right10-inner>p{
    font-size: 1.3vw;
    width: 80%;
    margin-top: 2vw;
}

#page11{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #0a3cca;
    font-family: a;
}
#page11>h1{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4vw;
    color: #000;
    font-weight: 100;
}
.page11-inner{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
}
.left11{
    position: relative;
    height: 100%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}
.left11>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.right11{
    padding-top: 5vw;
    color: #fff;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
}
.right11>h4{
    font-weight: 100;
}
.right11>h1{
    font-size: 2vw;
}


#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #02268e;
}
.page12-inner{
    position: absolute;
    top: 20%;
    right: 10%;
    color: #fff;
    font-family: a;
}
.page12-inner>h1{
    font-size: 5vw;
    font-weight: 100;
}
.page12-inner>p{
    font-size: 1.3vw;
}


#page13{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    font-family: a;
    padding: 7vw 10vw;
}
#page13>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}
#page13>button{
    padding: 18px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 2vw;
}


#page14{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
}
.page14-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: a;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
}
.page14-inner>i{
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 9999;
}
.page14-inner>h1{
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}

.center14{
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}


.page14-inner:hover .center14{
    height: 100%;
}



.right12-center{
    height: 80%;
    width: 55%;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    transform: translateY(-30%);
    background-image: url(https://lh3.googleusercontent.com/pw/AIL4fc_WFDujnikSQRSJ2JRC9zhpEKORW3oPiTPW1N_nnjDAr_M_vgwlNDWzxXYFsBMmpd-Zyo8zTaQdZki1tum26dpsg7pAdNGKzlvpqcOBmrwFQ7MpMHpm4Qq9gQTeiYanc6c3TCjdhpVmcGclSjbckwP6WfM2U5EbQi2QTTFpI7JZGpxLRlDorXFQne-iCxba9qFFoe4pdnspSsAnk3T2HCLGRQDmaAtbkW6pLkdzeKiN7ExLVcuuWS5nA7Oz-F_G--A9TQho6fizkXlPZt5urp2wRX6Gb-78cqGelkwV2YveLeYiZHO8WiaFTi5rwTzeAVHW4zdUtXln7-quDken4qfnKZ76eTSU4gAh1Yw4O-xp_ZhTF3vYp5FynEIFfekffxKgkls5Pj7W82Nhel5AKSc3588hl-B-M--p1J9IkAFFk_Y1RpuyN4xZZr7qiVMa1073_qjqOIpcQu8ObZhQRI86WzhrI9u_wbwxJelAk0X_vbX68bMWeaKQTquj5ml91xkR1rQRV5Q730kEQh0-9lqGIg0TWAQHk-A-bQCNKr9E2KfKzMuSI6G05ai3hpYh4D9DtMmK00aSD8GvFLH0VrsXFBq_HtiBwXiKMLkAEPrUn8SquKUEIiSQ6duNz8S4ROYT7GTrIJsLhhsWElFSO3Y-pDPuWGxcKLfibN4So5ItmkxbqnCzaCyTe7Yq86ENZKRc1qr5wD9Oe_uxGhnqh5eXgLaum-24_bpJjLVbVetnNS5pAKq9PgjPhQ48AUewRvKpObSUKB0VaHU-NsDLCs4brbOXmu1LjoKUlXcKeLnXYTHviB4wK29LZjAUZcZaHtL5C1aSxHA1AD6TkWyyabhXpXq_12clDHMCumwZyzYteWrb3k2iAgZH5tJvtQ1Fw8k2oBkeDSmKu82kCvflm2Vw_Q=w503-h893-s-no?authuser=0);
    background-size: cover;
    right: 45%;
}